@import url(https://necolas.github.io/normalize.css/latest/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=PT+Sans:wght@700&display=swap");
@import "bootstrap/scss/utilities";

body {
  background-image: var(--background-image);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  font-family: "Bakbak One";
  text-decoration: none;
  color: black;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 60px auto;
  width: 95%;
}

.div-logo {
  z-index: -1;
}

.logo-wide {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 35%;
  cursor: pointer;
  filter: drop-shadow(10px 10px #333333ab);
  transition: transform 0.2s;
}

.logo-wide:hover {
  transform: scale(1.05);
}

header {
  z-index: 5;
}

nav {
  background-color: #f2f2f0;
  border: solid rgb(0, 0, 0);
  border-width: 4px;
  filter: drop-shadow(10px 10px #333333ab);
  width: 40%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* transition: transform 0.2s; */
}

/* nav:hover {
  transform: scale(1.05);
} */

.themes {
  margin-left: 50px;
}

.themes-menu {
  background-color: #ffffff00;
  border: none;
}

.btn {
  color: black;
  border: none;
  background-color: #f2f2f0;
}

.lang-menu:hover ul {
  display: block;
}

.lang-menu ul {
  margin: 0px;
  padding: 0px;
  background-color: #f2f2f0;
  border: solid rgb(0, 0, 0);
  border-width: 4px;
  box-shadow: 0px 1px 10px black;
  display: none;
  position: absolute;
  font-family: "Bakbak One";
}

.lang-menu ul li {
  list-style: none;
}

.lang-menu ul li a {
  width: 125px;
  display: block;
  padding: 5px 10px;
}

.lang-menu ul li a:hover {
  background-color: #f2f2f0;
}

.selected-lang {
  cursor: pointer;
  display: flex;
  line-height: 2;
  width: 100px;
  text-decoration: none;
}

/* .boton-info {
  display: block;
  margin: auto;
  margin-top: 40px;
  width: 30%;
} */

/* #label-boton-info {
  display: none;
} */

/* .container-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
} */

/* #label-boton-info:checked ~ .container-modal {
  display: flex;
} */

.modal-content {
  /* width: 100%;
  max-width: 600px; */
  padding: 20px;
  border-radius: 0%;
  background-color: #f2f2f0;
  border: solid black 4px;
  filter: drop-shadow(10px 10px #333333ab);
  transform: scale(0.9);
  z-index: 1;
}

.modal-content h1 {
  margin: 0;
}

.modal-content p,
ul {
  font-family: "Rubik";
}

.modal-content .boton-cerrar-2 {
  width: 100%;
  display: flex;
}

.modal-content .boton-cerrar-2 label {
  padding: 7px 10px;
  background-color: #f2f2f0;
  color: black;
  border: solid black 4px;
  cursor: pointer;
  transition: all 300ms ease;
  position: absolute;
  right: -20px;
  bottom: -20px;
}

.modal-content .boton-cerrar-2 label:hover {
  background-color: black;
  color: #f2f2f0;
}

/* .content-modal {
  position: fixed;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #f2f2f0;
  border: solid black 4px;
  filter: drop-shadow(10px 10px #333333ab);
  transform: scale(0.9);
  z-index: 1;
}

.content-modal h1 {
  margin: 0;
}

.content-modal p,
ul {
  font-family: "Rubik";
}

.content-modal .boton-cerrar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}

.content-modal .boton-cerrar label {
  padding: 7px 10px;
  background-color: #f2f2f0;
  color: black;
  border: solid black 4px;
  cursor: pointer;
  transition: all 300ms ease;
}

.content-modal .boton-cerrar label:hover {
  background-color: black;
  color: #f2f2f0;
} */

.cerrar-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.CE-logo-rb {
  display: block;
  margin: auto;
  width: 100px;
}

.modal-dialog {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.modal-backdrop {
  z-index: 100;
  background-color: rgba(144, 148, 150, 0.3);
}

.ofertas {
  width: 51%;
  cursor: pointer;
  transition: transform 0.2s;
}

.ofertas:hover {
  transform: scale(1.05);
}

.exterior {
  margin-top: 100px;
  margin-right: 40px;
  width: 44%;
  cursor: pointer;
  transition: transform 0.2s;
}

.exterior:hover {
  transform: scale(1.05);
}

.interior {
  margin-top: -100px;
  margin-left: 20px;
  width: 41%;
  cursor: pointer;
  transition: transform 0.2s;
}

.interior:hover {
  transform: scale(1.05);
}

.a360 {
  margin-top: 60px;
  width: 52%;
  cursor: pointer;
  transition: transform 0.2s;
}

.a360:hover {
  transform: scale(1.05);
}

.plantas-arqs {
  margin-top: -80px;
  width: 29%;
  cursor: pointer;
  transition: transform 0.2s;
}

.plantas-arqs:hover {
  transform: scale(1.05);
}

.isometricos {
  margin-top: 40px;
  width: 64%;
  cursor: pointer;
  transition: transform 0.2s;
}

.isometricos:hover {
  transform: scale(1.05);
}

#isometricosModal {
  width: 100%;
}

.contacto {
  margin: auto;
  margin-top: -25px;
  margin-bottom: 60px;
  display: block;
  width: 25%;
  cursor: pointer;
  filter: drop-shadow(10px 10px #333333ab);
  transition: transform 0.2s;
}

.contacto:hover {
  transform: scale(1.05);
}

.carousel-item {
  border: solid black 4px;
}

@media (max-width: 768px) {
  body {
    background-size: 150%;
  }

  .main-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px auto;
    width: 98%;
  }

  nav {
    border-width: 3px;
    width: 60%;
  }

  .lang-menu ul {
    border-width: 3px;
  }

  .boton-info {
    width: 50%;
  }

  .logo-wide {
    width: 50%;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .modal-content {
    padding: 10px;
  }

  .modal-body {
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  /* .content-modal {
    transform: scale(0.8);
  } */

  .ofertas {
    width: 52%;
  }

  .exterior {
    margin-top: 100px;
    margin-right: 0px;
    width: 45%;
  }

  .interior {
    margin-top: -100px;
    margin-left: 20px;
    width: 42%;
  }

  .a360 {
    margin-top: 60px;
    width: 53%;
  }

  .plantas-arqs {
    margin-top: -80px;
    width: 30%;
  }

  .isometricos {
    margin-top: 40px;
    width: 65%;
  }

  .div-contacto {
    margin-top: -50px;
  }

  .contacto {
    width: 30%;
  }
}

@media (max-width: 425px) {
  body {
    background-size: 200%;
  }

  .main-container {
    display: grid;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
  }

  nav {
    border-width: 2px;
    width: 80%;
  }

  .lang-menu ul {
    border-width: 2px;
  }

  .boton-info {
    margin: 30px auto 10px auto;
    width: 60%;
  }

  .logo-wide {
    width: 70%;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  /* .content-modal {
    transform: scale(0.5);
  } */

  .modal-content {
    padding: 5px;
  }

  .modal-body {
    padding: 5px;
  }

  h1 {
    font-size: 1.5em;
  }

  .ofertas {
    width: 80%;
    margin: auto auto 10px 15%;
  }

  .exterior {
    width: 90%;
    margin: 20px auto;
  }

  .interior {
    width: 90%;
    margin: 20px auto;
  }

  .a360 {
    width: 90%;
    margin: 20px auto;
  }

  .plantas-arqs {
    width: 60%;
    margin: 20px auto;
  }

  .isometricos {
    width: 90%;
    margin: 20px auto;
  }

  .contacto {
    margin-top: -35px;
    width: 50%;
  }
}
