@import url(https://necolas.github.io/normalize.css/latest/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=PT+Sans:wght@700&display=swap");

body {
  background-image: var(--background-image);
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  font-family: "Bakbak One";
  text-decoration: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit;
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 60px auto;
  width: 95%;
}

nav {
  background-color: #f2f2f0;
  border: solid rgb(0, 0, 0);
  border-width: 4px;
  filter: drop-shadow(10px 10px #333333ab);
  width: 40%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* transition: transform 0.2s; */
}

/* nav:hover {
  transform: scale(1.05);
} */

.themes {
  margin-left: 50px;
}

.themes-menu {
  background-color: #ffffff00;
  border: none;
}

.lang-menu:hover ul {
  display: block;
}

.lang-menu ul {
  margin: 0px;
  padding: 0px;
  background-color: #f2f2f0;
  border: solid rgb(0, 0, 0);
  border-width: 4px;
  box-shadow: 0px 1px 10px black;
  display: none;
  position: absolute;
  font-family: "Bakbak One";
}

.lang-menu ul li {
  list-style: none;
}

.lang-menu ul li a {
  width: 125px;
  display: block;
  padding: 5px 10px;
}

.lang-menu ul li a:hover {
  background-color: #f2f2f0;
}

.selected-lang {
  cursor: pointer;
  display: flex;
  line-height: 2;
  width: 100px;
  text-decoration: none;
}

.logo-wide {
  display: block;
  margin: auto;
  margin-top: 40px;
  width: 30%;
  cursor: pointer;
  transition: transform 0.2s;
}

.logo-wide:hover {
  transform: scale(1.05);
}

/* .hover-info {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.hover-info .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.hover-info > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

.CloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.CloseButton:hover {
  background-color: #ccc;
}

.info {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
} */

/* .boton-info {
  background-color: #f2f2f0;
} */

/* .boton-info label {
  padding: 10px 15px;
  background-color: aqua;
  color: #f2f2f0;
  border: solid black 4px;
  transition: all 300ms ease;
} */

/* .boton-info label:hover {
  background-color: aquamarine;
} */

#label-boton-info {
  display: none;
}

.container-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#label-boton-info:checked ~ .container-modal {
  display: flex;
}

.content-modal {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #f2f2f0;
  border: solid black 4px;
  filter: drop-shadow(10px 10px #333333ab);
}

.content-modal h1 {
  margin: 0;
}

.content-modal p,
ul {
  font-family: "Rubik";
}

/* .content-modal p {
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
} */

.content-modal .boton-cerrar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}

.content-modal .boton-cerrar label {
  padding: 7px 10px;
  background-color: #f2f2f0;
  color: black;
  border: solid black 4px;
  cursor: pointer;
  transition: all 300ms ease;
}

.content-modal .boton-cerrar label:hover {
  background-color: black;
  color: #f2f2f0;
}

.cerrar-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.CE-logo-rb {
  display: block;
  margin: auto;
  width: 100px;
}

.ofertas {
  width: 51%;
  cursor: pointer;
  transition: transform 0.2s;
}

.ofertas:hover {
  transform: scale(1.05);
}

.exterior {
  margin-top: 100px;
  margin-right: 40px;
  width: 44%;
  cursor: pointer;
  transition: transform 0.2s;
}

.exterior:hover {
  transform: scale(1.05);
}

.interior {
  margin-top: -100px;
  margin-left: 20px;
  width: 41%;
  cursor: pointer;
  transition: transform 0.2s;
}

.interior:hover {
  transform: scale(1.05);
}

.a360 {
  margin-top: 60px;
  width: 52%;
  cursor: pointer;
  transition: transform 0.2s;
}

.a360:hover {
  transform: scale(1.05);
}

.plantas-arqs {
  margin-top: -80px;
  width: 29%;
  cursor: pointer;
  transition: transform 0.2s;
}

.plantas-arqs:hover {
  transform: scale(1.05);
}

.isometricos {
  margin-top: 40px;
  width: 64%;
  cursor: pointer;
  transition: transform 0.2s;
}

.isometricos:hover {
  transform: scale(1.05);
}

/* .div-contacto {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
} */

.contacto {
  margin: auto;
  display: block;
  width: 20%;
  cursor: pointer;
  transition: transform 0.2s;
}

.contacto:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  body {
    background-size: 150%;
  }

  .main-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px auto;
    width: 98%;
  }

  nav {
    border-width: 3px;
    width: 60%;
  }

  .lang-menu ul {
    border-width: 3px;
  }

  .logo-wide {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 50%;
  }

  .content-modal {
    transform: scale(0.8);
  }

  .ofertas {
    width: 52%;
  }

  .exterior {
    margin-top: 100px;
    margin-right: 0px;
    width: 45%;
  }

  .interior {
    margin-top: -100px;
    margin-left: 20px;
    width: 42%;
  }

  .a360 {
    margin-top: 60px;
    width: 53%;
  }

  .plantas-arqs {
    margin-top: -80px;
    width: 30%;
  }

  .isometricos {
    margin-top: 40px;
    width: 65%;
  }

  .contacto {
    display: block;
    margin: auto;
    width: 40%;
  }
}

@media (max-width: 425px) {
  body {
    background-size: 200%;
  }

  .main-container {
    display: grid;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
  }

  nav {
    border-width: 2px;
    width: 80%;
  }

  .lang-menu ul {
    border-width: 2px;
  }

  .logo-wide {
    display: block;
    margin: 30px auto 10px auto;
    width: 60%;
  }

  .content-modal {
    transform: scale(0.7);
  }

  .ofertas {
    width: 80%;
    margin: auto auto 10px 15%;
  }

  .exterior {
    width: 90%;
    margin: 20px auto;
  }

  .interior {
    width: 90%;
    margin: 20px auto;
  }

  .a360 {
    width: 90%;
    margin: 20px auto;
  }

  .plantas-arqs {
    width: 60%;
    margin: 20px auto;
  }

  .isometricos {
    width: 90%;
    margin: 20px auto;
  }

  .contacto {
    display: block;
    margin: auto;
    width: 50%;
  }
}
